@if(!getListItems().length){
  <div class="container">
    <img src="assets/img/task-list-null.png" alt="Sua Lista está vazia - imagem ilustrativa" loading="eager">
  
    @if(addItem()){
      <button class="btn btn-primary" (click)="addItem.set(false)">Crie uma lista de tarefas</button>
    } @else {
      <app-input-add-item [inputListItems]="getListItems()"
       (outputAddListItems)="getInputAndAddItem($event)"/>
    }
  </div>
} @else {
  <app-input-add-item [inputListItems]="getListItems()"
  (outputAddListItems)="getInputAndAddItem($event)"/>
}


